.image_select {
  display: block;
  margin: 0;
  padding: 0;
}

.image_select li {
  list-style: none;
  margin-right: 1em;
  display: inline-block;
  border: 2px solid white;
  background: black;
}

.image_select li img {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  -ms-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.image_select li:hover img {
  filter: alpha(opacity=100);
  opacity: 1;
}

.image_select li.active {
  border: 2px solid #A51214;
}

.image_select li.active img {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}